<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <title>INRAD – Perfil</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'Web/img\logotipo.png' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'Web/css/HojaEstilos.css' %}">
        <title>Ingresar</title>
    </head> 
    <style>
        body {
            /* fallback for old browsers */
             background: var(--darkgreen);
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, var(--primary), var(--green));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, var(--primary),var(--green))
        }

        .form-control:focus {
            box-shadow: none;
            border-color: var(--green)
        }
        .labels{
            font-family: 'Roboto', sans-serif;
        }
      
        @media only screen and (min-width: 769px)
        {
            .paciente{
            text-align: right;}
            
        }
        @media only screen and (max-width: 380px)
        {
            .paciente{
            text-align: center;}
        }

    </style>
    <header>
        <div class="greenHeader container-fluid">
            <div class="row">
                
            <div class="col-12  col-md-4">
                <a href="tel:+56222264771" class="button pulse headerbutton inicio-button mx-auto justify-content-center" style="width:250px;padding: 0px;margin: 5px; ">
                    <img src=" {% static 'img/fono2.png' %}" style="height: 30px;width: 30px;">
                    <strong style='padding-left: 5px;'>2 2226 4771</strong>
                </a>
            </div>
            {% if user.is_authenticated %}
                <div class="col-2 col-sm-12 col-md-1 ">
                </div>
                <div class="col-12 col-sm-12 col-md-4 paciente" >    
                    <a class="inicio-button button pulse headerbutton mx-auto justify-content-center " style="width:250px;padding: 0px;margin: 5px;" href="{% url 'AppUsers:profile' %}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468                               2.37A7 7 0 0 0 8 1z"></path>
                        </svg>
                        <strong style='padding-left: 5px;'>Portal Paciente</strong>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-2">    
                    <a class="inicio-button headerbutton button cancel_button  mx-auto justify-content-center" style="width:250px;padding: 0px;margin: 5px;" href="{% url 'AppUsers:logout' %}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                        </svg>
                        <strong style='padding-left: 5px;'>Cerrar Sesion</strong>
                    </a>
                </div>
            {%else%}
                <div class="col-2 col-md-1">
                </div>
                <div class="col-12 col-md-7 paciente">    
                    <a class="button pulse" style="margin-right: 70px;" href="{% url 'AppUsers:login' %}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468                               2.37A7 7 0 0 0 8 1z"></path>
                        </svg>
                        <strong style='padding-left: 5px;'>Portal Paciente</strong>
                    </a>
                </div>
            {%endif%}
            </div>
        </div>
    
        <div class="LogoHeader container-fluid">
            <div class="MenuBar row  align-items-center clearfix">
            
                <div class="col-12   col-sm-12 col-md-12 col-lg-4 "><a href="{% url 'Web:home' %}"><img src="{% static 'img/logotipo.png' %}" class="LogoImgFile" ></a></div>
                <div class="col-md-3 col-lg-2 d-none d-md-block mx-auto list-item"><a href="{% url 'Web:nosotros' %}" class='item'>Nosotros</a></div>
                <div class="col-md-3 col-lg-2 d-none d-md-block mx-auto list-item"><a href="{% url 'Web:tratamientos' %}" class='item'>Tratamientos</a></div>
                <div class="col-md-3 col-lg-2 d-none d-md-block mx-auto list-item"><a href="{% url 'Web:pacientes' %}" class='item'>Pacientes</a></div>
                <div class="col-md-3 col-lg-2 d-none d-md-block mx-auto list-item"><a href="{% url 'Web:contacto' %}" class='item'>Contacto</a></div>
            </div>
            
            <div class="DivBar d-none d-md-block" style="background:var(--green);padding: 10px;"> </div>
    
            
            <div class="MovilBar row d-md-none " >
                <nav class="navbar navbar-expand-lg" style="background:var(--green);">
                    <div class="container-fluid mx-auto" style="padding-left: 0px;padding-right: 0px;">
                    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation" style='padding-bottom: 20px;'>
                        <span class="navbar-toggler-icon " style='color:white;'><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                                <li class="list-item-mobile"><a href="{% url 'Web:nosotros' %}" class='item-mobile'>Nosotros</a></li>
                                <li class="list-item-mobile"><a href="{% url 'Web:tratamientos' %}" class='item-mobile'>Tratamientos</a></li>
                                <li class="list-item-mobile"><a href="{% url 'Web:pacientes' %}" class='item-mobile'>Pacientes</a></li>
                                <li class="list-item-mobile"><a href="{% url 'Web:contacto' %}" class='item-mobile'>Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <body>
        {% block contenido %}
        {% endblock %}
    </body>
