
{% extends 'base.html' %}
{%load static%}
{% block contenido%}
{% load crispy_forms_tags %}

</style>
<body>
    <h1>CONTACTO</h1>
    <!--
    <div class="row">
            <div class='col-12 col-sm-12 col-md-4 col-lg-4' style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Dubl%C3%A9%20Almeyda%203840,%20%C3%91u%C3%B1oa,%20Regi%C3%B3n%20Metropolitana+(MDubl%C3%A9%20Almeyda%203840,%20%C3%91u%C3%B1oa,%20Regi%C3%B3n%20Metropolitanai%20nombre%20de%20egocios)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="600" frameborder="0"><a href="https://www.mapsdirections.info/marcar-radio-circulo-mapa/">Dibujar radio en el mapa</a></iframe></div>
    </div>
-->
<div class="row">
    <form action='' class='formulario_contacto' method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <div class="d-flex">
            <input type="reset" value='Cancelar'class='btn btn-secondary justify-content-left'>
            <button type="submit" id="btnEnviar" class="btn btn-primary justify-content-right">Enviar</button>
        </div>
    </form>
    {{mensaje}}
</body>
{% endblock%}