
{% extends 'base.html' %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/Estilosbase.css'%}">

{% block contenido%}
<body>
    <div class='home_header'>
        <div class="overlay">
        <h1 class='home_title'>INSTITUTO RADIO ONCOLÓGICO</h1>
    <h3 class='home_p'>TERAPIAS CON TECNOLOGÍA DE PUNTA</h3>
    <p class='home_p'>
        INSTITUTO RADIO ONCOLÓGICO
        TERAPIAS CON TECNOLOGÍA DE PUNTA
        Desde nuestros inicios comprometidos con dar un servicio medico de alta calidad
        </p>

    </div>
    



</body>

{% endblock%}
