
{% extends 'base.html' %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/inicio.css'%}">

{% block contenido%}
<body>
    <div class='home_header'>
        <div class="row overlay">
            <h1 class='col-12 home_title'>INSTITUTO RADIO ONCOLÓGICO</h1>
            <h3 class='col-12 home_p'>TERAPIAS CON TECNOLOGÍA DE PUNTA</h3>
            <h5 class='col-12 home_p'>
                Desde nuestros inicios comprometidos con dar un servicio medico de alta calidad
            </h5>

    </div>
    



</body>

{% endblock%}
