    /*PALETTE COLORS
    *Logo Colors
        fluorecent-green: #38d82c
        pale-rose:        #de65ab
        pale-blue:        #66dadd
        pale-yellow:      #fff27b
    *OtherColors
        button-green:     #16a89f
        fluorecent-rose:  #d922da
        dark-grey:        #54595f
        grey:             #5c6167
    */

    :root {
        --darkgreen: #137871;
        --green: #16a89f;
        --darkgrey:#363636;
        --grey:#5c6167;
        --paleblue:#66dadd;
        --white:#FFF;
        --softwhite:#efefef;
        --red:#8f0c1f;
        --darkred:#580612;
        --shadow:#333;
      }
    
    /***********BASE HTML**********************/
    .greenHeader
    {
        background:var(--darkgreen);
        font-family: 'Roboto', sans-serif;
        color: var(--white);
        font-weight: 400; 
        font-size: 25px;
        text-align: center;
        padding:10px;
    }
    .LogoHeader{
        background:var(--softwhite);
        color: var(--grey);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1) inset;
        text-decoration: none;
        color: currentColor;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .item{
        text-decoration: none;
            color: var(--grey);
            font-size: 24px;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            transition: 300ms;
      }
      .item:hover{
          color:var(--green);      
      }
    .dudas{
        text-align: center;
        background:var(--darkgreen);
        color: var(--white);
        padding: 10px;
        font-size: 35px;
        font-weight: 600;
        font-family:'Roboto';
        color:var(--darkgrey);
    }
    .Footer{
        background:var(--darkgrey);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1) inset;
        font-family: 'Roboto', sans-serif;
        color: var(--white);
        font-weight: 400; 
        font-size: 25px;
        text-align: center;
        padding:30px;
    }

    .RRSS{
        margin: 5px;
    }

    h1{
        font-family: 'Roboto', sans-serif;
        color: var(--darkgrey);
        font-weight: 900; 
        font-size: 25px;
        text-align: center;
        padding:30px;
    }
    
    .contacto-item{
        text-decoration: none;
        color: inherit;
        font-size: 15px;
        text-align: right;
    
    }
   .webinfo{
        text-decoration: none;
        background: var(--darkgrey);
        color: white;
        font-size: 15px;
        text-align: center;
    
    }

    .ColumnaFooter{
        margin: 30px;
    }

   
/*******************MAIN BUTTONS SETTINGS*************************/
.button {
    display: inline-flex;
    align-items: center;
    background: var(--green);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 45px;
    width: 275px;
    padding: 0 30px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 200ms;
    will-change: transform;
    outline: none;
    margin: 5px;
    
}
.button:hover{
    color: var(--white);
    background:var(--paleblue);
    transform: translate3d(0, -2px, 0);
    outline: none;
    border: none;
    
}
.button:hover:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 1px, 0);
    outline: none;
    border: none;
    border: 0;
}
/*agendar hora*/
.agendar{
    font-size:30px;
    height: 100px;
    width: 300px;
    text-align: center;
    margin: 20px;
}
/* mas informacion*/
.inicio-button{
    text-align: center;
    margin:20px;
    height: 50px;
    width: 220px;
    font-size: 20px;
}
.cancel_button{
    background:var(--red);
}
.cancel_button:hover{
    background:var(--darkred);    
}

/*************GENERAL SETTINGS*******************/

/*General Body*/
body{
    background:var(--softwhite);
}
  
.contenedor{
    margin: 10px;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.content{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.content2{
    margin:60px;
    margin-right:250px;
    margin-left:250px;
}
hr.divisor {
    border: 0;
    padding: 2px;
    margin: 20px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, var(--softwhite), var(--green), var(--softwhite));
    }
hr{
    margin: 5px;
    color:var(--green) ;
}
hr.accessory {
    border: 0;
    padding: 2px;
    margin: 5px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, var(--darkgrey), #0cf3e4, var(--darkgrey));
}
/**************OVERLAY**********************/
.inicio-header {
    text-align: center;
    background-size: 100% ;
    width: 100%;
    height: 100%;
    background-position:  center center;
    background-repeat: no-repeat;
    background-color: var(--green);
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}
.inicio-header .inicio-overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: var(--white);
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #0a524dd5 10%, #66d9dd88 100%);
}
/*titulo overlay*/
.inicio-title{
    font-family: 'Roboto', cursive;
    font-size: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
}
/*segundalinea overlay*/
.inicio-titlebody {
	font-family: 'Roboto';
	margin-bottom: 30px;
    font-size: 40px;
}
/**********FIN OVERLAY***************/

/* TITULOS */
/*cuerpo de texto strong*/
.item-inicio-texto{
    font-size: 35px;
    font-weight: 600;
    font-family:'Roboto';
    color: var(--darkgrey);
    padding: 5px;
}
/*otros titulos*/
.infotitulo{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto';
    color: var(--darkgreen);
}
.titleitem{
    font-family: 'Roboto', cursive;
	font-size: 25px;
    text-align: center;
    font-weight: 900;
    color:var(--green) ;
}

.titlebody {
    font-family: 'Roboto', cursive;
	font-size: 50px;
	margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    color:var(--grey);
}

/*terceralinea overlay*/
.bajada{
    font-size: 30px;
}
/* CUERPO de texto*/
.texto{
    font-family: "Arial", Sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--grey);
}
.textitem{
    font-family: 'Roboto', cursive;
	font-size: 20px;
    text-align: center;
    font-weight: 500;
    color:var(--grey);
}
.infotexto{
    list-style: disc;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    color:var(--grey);
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;

}
li{
    padding: 10px;
}
.lista{
    padding:0px;
}

/*******************Contactanos*********************/
iframe{
    padding: 0px;
    outline: 5px;
    border-color: var(--darkgreen);
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-top: 45px;
}

.boton_formulario{
    width: 100%;
}












 
/*******************MEDIA QUERYS*********************/
  
@media only screen and (max-width: 768px) {
    /*******BASE HTML**********/
    /* For mobile phones: */
      .list-item-mobile{
          color: var(--white);
          text-decoration:none;
          font-family: 'Roboto', sans-serif;
          font-size: 25px;
          padding: 5px;
          width:100%;
          background: #137871;
      }
      a{
          text-decoration: none;
          color:inherit;
      }
      a:hover, a:focus, a:active {
          text-decoration: none;
          color: inherit;
      }
      
      .btn:focus {
      outline: none;
      box-shadow: none;
      }
      .navbar-toggler:focus {
          text-decoration: none;
          outline: 0;
          box-shadow: 0 0 0 0;
      }
      .boton_formulario{
          width: 100%;
      }
    /******GENRAL CONTENT*******/
    .inicio-title{
        font-family: 'Roboto', cursive;
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 380px){
    .inicio-title{
    font-family: 'Roboto', cursive;
	font-size: 40px;
    text-align: center;
	margin-bottom: 30px;
    }
}


  